.form-container-login {
  width: 23rem;
  margin: 3rem auto;
  padding: 2rem;
  background: -webkit-linear-gradient(#fff, #ef9b9b);
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}


.input-wrapper.no-margin {
  margin-bottom: 0;
}

.input-wrapper label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #9bafaf;
  text-transform: uppercase;
  font-weight: bold;
}

.input-wrapper input {
  display: block;
  width: 100%;
  width: 19rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #caf0f0;
  color: #142020;
}

  .error{
   color: #DC143C;
   font-size: 1rem;  
   margin-top: 4px;     
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #1f3533;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    background-color: #406159;
  }
  .success{
    text-align: center;
    font-size: 1rem;
    color: #142020;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }